<form [formGroup]="formGroupPersonalInfo" class="example-form">
    <ng-template matStepLabel>Fill out your name</ng-template>
    <mat-form-field>
      <input matInput placeholder="First name" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Last name" formControlName="lastName" required>
      </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Document Id" formControlName="dni" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Address" formControlName="address" required>
    </mat-form-field>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </form>
